.grid {
  display: flex;
  margin-bottom: 20px;
}

.grid-item-ctnr {
  border: 1px solid lightgrey;

  & + & {
    border-left: none;
  }
}

.grid-item {
  align-items: center;
  background-color: whitesmoke;
  cursor: pointer;
  display: flex;
  height: 200px;
  justify-content: center;
  position: relative;
  width: 200px;

  &__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    // TEMP
    width: 80%;
    text-align: center;

    p {
      margin-bottom: 5px;
    }
    // TEMP
  }

  &__growth {
    background-color: mediumseagreen;
    z-index: 0;
  }
}
